body {
    background-color: #f3eaea;
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#footercontent{
    text-align:center;
}

#headercontent {
    display: flex;
    justify-content: center;
}

#indexcontent{
    font-size:18px;
}

#divider {
    background-color: #595959;
    height: 1px;
    width:95%;
}

#product {
    height: 450px;
}

#prdIMG {
    display: flex;
    justify-content: center;
}