
<!--PRODUCT INDEX-->

<!--Main Content-->
<div class="row">
    <!--Product 1-->
    <div class="col-md-4" id="product">
        <div id="prdIMG">
            <img class="card-img-top" src="http://placehold.it/300x300" alt="" usemap="#test">
            <map name="test">
                <area shape="rect" coords="0,0,150, 300" alt="test" href="">
            </map>
        </div>
        <h4 class="card-title">
            <a href="#">Top Link</a>
        </h4>
        <h5>$24.99</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!dweiuyhtgf weouh rwieur wefu hwieuf hwieufhwe iweufh wiue h</p>
    </div>
    <!--End of product 1-->
</div>